.button {
  width: 15%;
  padding: 13px 5px;
  font-size: 16px;
  line-height: 1.2em;
  background-color: rgba(10, 242, 227, 0.5);
  border: none;

  &:hover,
  &:focus {
    background-color: rgba(10, 242, 227, 1);
    outline: none;
  }

  &:active {
    color: rgba(10, 242, 227, 1);
    background-color: #0d6967;
    outline: none;
  }

  &:disabled {
    color: rgb(103, 103, 103);
    background-color: rgba(10, 242, 227, 0.4);
    cursor: not-allowed;
  }
}
