.todo {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  padding: 8px 0 8px 10px;
  border-bottom: solid 1px rgba(10, 242, 227, 0.5);

  &-done {
    background: linear-gradient(90deg, rgba(24, 255, 240, 0.3), #ffffff); 
  }
}

.todo-btn-done {
  margin: 0 0 0 auto;
  border: solid 2px rgb(13, 241, 192);

  &:hover,
  &:focus {
    border: solid 2px rgb(9, 146, 93);
    outline: none;
  }

  &:active {
    background-color: rgb(9, 146, 93);
    color: #ffffff;
  }
}

.todo-btn-delete {
  margin: 0 0 0 10px;
  border: solid 2px rgb(241, 33, 33);

  &:hover,
  &:focus {
    border: solid 2px rgb(175, 9, 9);
    outline: none;
  }

  &:active {
    background-color: rgb(175, 9, 9);
    color: #ffffff;
  }
}
